div Hola #{first_name},
| Te hemos asignado una contraseña provisional para entrar a Ampanova.
| &nbsp;
div(style='margin-top: 20px;') Tu contraseña es #[span(style="font-weight: bold;") #{password}]
| &nbsp;
div(style="font-size: 80%;")
    p
    | Te recomendamos cambiar tu contraseña desde la aplicación la primera vez que entres.
    br
    | En Ampanova no guardamos tu contraseña, así que deberás guardarla siempre en sitio seguro.
    br
    | Puedes recuperarla siempre que quieras desde la propia aplicacion.
hr
div Un saludo desde Ampanova.
| A partir de ahora puedes realizar tus pedidos a través de nuestra aplicación.
div Si quieres contactar con nosotros, no respondas a este correo.
| Puedes hacerlo enviando un correo a: 
a(href='mailto:contacto@xnova.com') Contacta con Ampanova